In [1]:
import stats_table_functions as stats

data tables opened...
Games Available:
pilot01
pilot02
pilot03
pilot14
pilot20
s1-league1-game1
s1-league1-game2
s1-league1-game3
s1-league1-game4
s1-league1-game5
s1-league2-game1
s1-league2-game2
s1-league2-game3
s1-league2-game4
s1-league3-game1
s1-league3-game2
s1-league3-game3
s1-league3-game4
s1-league3-game5
s1-league3-game6
s1-league3-game7
s2-league1-game1
s2-league3-game4
s2-league4-game3
s2-league5-game1
s2-leagueM-game2
s2-leagueM-game3
s2-leagueM-game5

# Welcome to STAC stats! 
Here we are currently building functions to let you explore the situated and non-situated versions of the stac corpus.
For each command, you can specify which part of the corpus you would like to apply it to. 

Example:

stats.edu_count( ) returns the segment counts in a game. Run the command with "all" to see all games, the name of a game, e.g. "pilot02", to see one game, or a list of game names ["pilot02", "pilot04"]

<font color='green'>
### stats.edu_count( )</font>
<break>
takes either a list of games or 'all' to see the corpus. *Default='all'*

In [4]:
stats.edu_count('all')

                  spect EDUs  situated EEUs  situated EDUs
pilot01                  714            696            715
pilot02                  301            464            301
pilot03                  686            653            686
pilot14                  336            969            338
pilot20                  457           1078            457
s1-league1-game1         304            634            304
s1-league1-game2         273            715            273
s1-league1-game3         687            985            688
s1-league1-game4         474            596            474
s1-league1-game5         281            631            281
s1-league2-game1         420            802            421
s1-league2-game2         220            558            220
s1-league2-game3         270            583            270
s1-league2-game4         193            565            193
s1-league3-game1         170            705            170
s1-league3-game2          97            975             97
s1-league3-game3         254            972            254
s1-league3-game4          34            704             34
s1-league3-game5         160            530            160
s1-league3-game6         186            935            186
s1-league3-game7         122            924            122
s2-league1-game1         394            912            394
s2-league3-game4          82            515             82
s2-league4-game3         404            583            404
s2-league5-game1         156            637            156
s2-leagueM-game2         349            742            349
s2-leagueM-game3         420            813            420
s2-leagueM-game5         276            489            276

In [2]:
stats.edu_count(['pilot02', 'pilot14'])

         spect EDUs  situated EEUs  situated EDUs
pilot02         301            464            301
pilot14         336            969            338

In [3]:
stats.edu_count('pilot02')

         spect EDUs  situated EEUs  situated EDUs
pilot02         301            464            301

<font color='green'> 
### stats.relation_count( )</font>
<break>
Takes 3 parameters:
1. games: either a list of games or 'all' -*OR*- 'aggregate' to see aggregated counts between situated and spect versions. *Default='all'*
2. version: 'situated', 'spect' or 'both', *default='both'*
3. relation types: a list of types or 'all, *default='all'*

In [5]:
stats.relation_count('aggregate', 'both', ['Question-answer_pair', 'Comment'])

                      spect  situated  situated - spect
type
Question-answer_pair   1990      2579               589
Comment                1458      1794               336

In [6]:
stats.relation_count('aggregate', 'both', 'all')

                         spect  situated  situated - spect
Result                   337.0      8907            8570.0
Continuation             823.0      6004            5181.0
Sequence                   0.0      4238            4238.0
Question-answer_pair    1990.0      2579             589.0
Elaboration              676.0      1056             380.0
Comment                 1458.0      1794             336.0
Acknowledgement         1073.0      1222             149.0
Clarification_question   312.0       366              54.0
Correction               152.0       196              44.0
Background                61.0        88              27.0
Explanation              372.0       398              26.0
Contrast                 389.0       391               2.0
Q-Elab                   467.0       469               2.0
Conditional              111.0       112               1.0
Anaphora                 342.0       342               0.0
Alternation              102.0        95              -7.0
Parallel                 155.0       137             -18.0
Narration                 80.0        55             -25.0

<font color='green'> 
### stats.relation_endpoints( )</font>
<break>
Takes 4 parameters:
 1. games: either a list of games or 'all',  *default='all'*
 2. version: 'situated', 'spect' or 'both', *default='both'*
 3. endpoints: a list of endpoint tuples, e.g. [('cdu', 'edu'), ('edu', edu')], or 'all' for all combinations. *Default = 'all'*
 4. relation types: a list of types, e.g. ['Contrast', 'Result'], or 'all'. *Default='all'*

In [7]:
stats.relation_endpoints('all', 'both', 'all', 'all')

,Row Total,Result,Continuation,Question-answer_pair,Sequence,Comment,Acknowledgement,Elaboration,Q-Elab,Contrast,Explanation,Clarification_question,Correction,Parallel,Conditional,Alternation,Background,Narration
spect__EEU-EEU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
spect__EEU-EDU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
spect__EEU-CDU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
spect__EDU-EEU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
spect__CDU-EEU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
spect__CDU-CDU,213.0,7.0,23.0,71.0,0.0,17.0,16.0,15.0,13.0,11.0,10.0,7.0,5.0,13.0,0.0,2.0,3.0,0.0
situated__EDU-EEU,335.0,221.0,0.0,0.0,108.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
situated__EEU-EDU,702.0,22.0,0.0,5.0,51.0,434.0,115.0,10.0,5.0,4.0,10.0,43.0,2.0,0.0,0.0,0.0,1.0,0.0
spect__EDU-CDU,721.0,36.0,64.0,209.0,0.0,80.0,41.0,72.0,42.0,46.0,45.0,29.0,20.0,9.0,4.0,6.0,6.0,12.0
situated__EDU-CDU,914.0,248.0,44.0,215.0,8.0,66.0,46.0,77.0,44.0,45.0,46.0,27.0,13.0,9.0,4.0,6.0,7.0,9.0
spect__CDU-EDU,1045.0,50.0,57.0,307.0,0.0,201.0,182.0,23.0,54.0,48.0,25.0,49.0,10.0,16.0,2.0,4.0,6.0,11.0
situated__CDU-EDU,1387.0,55.0,36.0,325.0,248.0,260.0,182.0,32.0,62.0,46.0,29.0,67.0,7.0,17.0,2.0,3.0,7.0,9.0
situated__CDU-CDU,1810.0,1247.0,19.0,70.0,328.0,37.0,20.0,13.0,15.0,15.0,15.0,13.0,7.0,7.0,0.0,1.0,3.0,0.0
situated__CDU-EEU,2155.0,231.0,67.0,270.0,1541.0,2.0,0.0,40.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
situated__EEU-CDU,2325.0,2158.0,0.0,0.0,70.0,49.0,2.0,29.0,2.0,0.0,1.0,11.0,2.0,0.0,0.0,0.0,1.0,0.0
situated__EDU-EDU,6045.0,213.0,503.0,1375.0,4.0,946.0,856.0,569.0,340.0,281.0,291.0,204.0,90.0,104.0,106.0,85.0,41.0,37.0
spect__EDU-EDU,6579.0,244.0,679.0,1403.0,0.0,1160.0,834.0,566.0,358.0,284.0,292.0,227.0,117.0,117.0,105.0,90.0,46.0,57.0
situated__EEU-EEU,12434.0,4512.0,5335.0,319.0,1880.0,0.0,1.0,286.0,0.0,0.0,0.0,1.0,72.0,0.0,0.0,0.0,28.0,0.0
Column Total,36665.0,9244.0,6827.0,4569.0,4238.0,3252.0,2295.0,1732.0,936.0,780.0,770.0,678.0,348.0,292.0,223.0,197.0,149.0,135.0

In [11]:
stats.relation_endpoints(['pilot02'], 'both', 'all', ['Contrast', 'Result'])

                   Row Total  Result  Contrast
spect__EEU-EEU           0.0     0.0       0.0
spect__CDU-CDU           0.0     0.0       0.0
spect__EEU-EDU           0.0     0.0       0.0
spect__EEU-CDU           0.0     0.0       0.0
spect__EDU-EEU           0.0     0.0       0.0
spect__CDU-EEU           0.0     0.0       0.0
spect__CDU-EDU           1.0     1.0       0.0
situated__EEU-EDU        2.0     2.0       0.0
spect__EDU-CDU           2.0     1.0       1.0
situated__CDU-EDU        3.0     3.0       0.0
situated__CDU-EEU        9.0     9.0       0.0
situated__EDU-EDU       11.0     4.0       7.0
spect__EDU-EDU          11.0     5.0       6.0
situated__EDU-EEU       12.0    12.0       0.0
situated__EDU-CDU       13.0    13.0       0.0
situated__CDU-CDU       28.0    27.0       1.0
situated__EEU-CDU       46.0    46.0       0.0
situated__EEU-EEU      114.0   114.0       0.0
Column Total           252.0   237.0      15.0